body {
background-color:#ac99ff;
background-image:
radial-gradient(at 51% 96%, hsla(48,91%,66%,1) 0px, transparent 50%),
radial-gradient(at 26% 3%, hsla(41,96%,62%,1) 0px, transparent 50%),
radial-gradient(at 63% 91%, hsla(71,96%,72%,1) 0px, transparent 50%),
radial-gradient(at 55% 71%, hsla(193,69%,66%,1) 0px, transparent 50%),
radial-gradient(at 29% 68%, hsla(284,61%,71%,1) 0px, transparent 50%),
radial-gradient(at 55% 6%, hsla(67,78%,76%,1) 0px, transparent 50%),
radial-gradient(at 12% 57%, hsla(38,61%,60%,1) 0px, transparent 50%);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}
.login-box {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    
  }
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.185);

  }

  #showButton {
    width: 97%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.185);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: 0px 1px 3px black;
  }


  .link-button {
    color: white;
    text-shadow: 0px 1px 1px white;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 90px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
  }
  
  #imageContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
  }






  #speechBubble {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}




#welcomeText {
    color: #000;
    font-weight: bold;
}
